*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.db-shm
*.db-wal
*.html
*.log
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
pyozw.sqlite
ip_bans.yaml
.*
!/.gitignore
ozw_config
.AppleDouble
google_calendars.yaml
.uuid
.google.token
.ios.conf
.cloud
nest.conf
entity_registry.yaml
